.imgVision {
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.imgMision {
  width: 450px;
  height: 600px;
  margin: 0 auto;
}

.alignItems {
  text-align: center;
}

.contentWe {
  padding: 2rem;
}

.justifyText {
  text-align: justify;
}

.titleText {
  color:rgb(61, 107, 182)
}