.imgVision {
  width: 90%;
  height: auto;
  margin-top: 1rem;
}

.imgMision {
  width: 90%;
  height: auto;
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .imgVision {
    width: 90%;
    height: 400px;
    margin-top: 1rem;
  }
  
  .imgMision {
    width: 90%;
    height: 500px;
    margin-top: 1rem;
  }
}

.alignItems {
  text-align: center;
}

.contentWe {
  padding: 2rem;
}

.justifyText {
  text-align: justify;
}

.titleText {
  color:rgb(61, 107, 182)
}