.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gallery {
  margin-top: 1rem;
}


.image-gallery-slide img {
  width: 100%
}

.image-gallery-bullets-container button {
  background: black !important;
}

@media only screen and (min-width: 600px) {

  .image-gallery-image {
    text-align: center;
  }
  
  .image-gallery-slide img {
    width: 50% !important;
    object-fit: cover;
    object-position: center center;
  }

  .image-gallery-bullets-container button {
    background: white !important;
  }
}

a {
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
