.image-gallery-description {
  width: 50% !important;
  bottom: 37px !important;
  text-align: left;
}

.gallery {
  margin-top: 0
}

.image-gallery-slide img {
  width: 100%
}

.image-gallery-bullets-container button {
  background: black !important;
}

@media only screen and (min-width: 600px) {

  .gallery {
    margin-top: 2rem;
  }

  .image-gallery-image {
    text-align: center;
  }
  
  .galleryHome .image-gallery-slide img {
    width: 50% !important;
    object-fit: cover;
    object-position: center center;
  }

  .image-gallery-bullets-container button {
    background: white !important;
  }
}

a {
  text-decoration: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
