@media only screen and (min-width: 600px) {
  .tittleBioCont {
    color: green;
    margin-top: 3rem;
  }
}

.tittleBioCont {
  font-size: 23px;
  font-weight: bold;
  color: green;
  margin-top: 3rem;
}

.videoBioContent video {
  width: 100%;
  height: 90%;
}
